:root {
    --cust-font-size: 20px;
    --cust-body-max-width:1500px;
    --cust-max-width: 1100px;
    --cust-typeface: 'Bebas Neue', sans-serif;
    --cust-color: #1B1919;
    --cust-background-color-offwhite: #F0F0F0;
    --cust-background-color-cardsoffwhite: #FFFBFB;
    --cust-color-primary: #A63841;
    --cust-color-secondary: #D93B3B;
    --cust-color-tertiary: #EAD94C;


}



*{
    margin: 0;
    padding: 0;
    font-family: var(--cust-typeface);
    color: var(--cust-color);
    
    
}
body {
    background-color: var(--cust-background-color-offwhite);
    /*source - https://www.geeksforgeeks.org/how-to-create-fade-in-effect-on-page-load-using-css/ */
    animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

main {
    max-width: var(--cust-max-width);
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: var(--cust-color);
    background-color: var(--cust-background-color-offwhite);
    
    
} 

img.headerimg {
    display: block;
    opacity: .85;
    width: 100%;
    height: 750px;
    align-self: center;
    margin: 0 auto;
}

h1{
    font-size: 13vw; 
    text-align: center;
    user-select: none;
    z-index: 2;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
}   

h2{
    font-size: 2vw; 
    text-align: center;
    user-select: none;
    margin-bottom: 10px;
} 

nav {
    background-color: var(--cust-background-color-offwhite);
}


/*menu and buttons*/
#gymMemberMenu {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

input#viewForm {
    display: inline-block;
    padding: 20px 20px;
    cursor: pointer;
    width: 200px;
    margin-right: 20px;
    font-size: var(--cust-font-size);
    border-radius: 5px;
    background-color: var(--cust-color-secondary);
    border: 3px solid var(--cust-color-secondary);
    color: var(--cust-background-color-cardsoffwhite);
    
}

input#viewList {
    display: inline-block;
    padding: 20px 20px;
    cursor: pointer;
    width: 200px;
    margin-left: 20px;
    font-size: var(--cust-font-size);
    border-radius: 5px;
    background-color: var(--cust-color-secondary);
    border: 3px solid var(--cust-color-secondary);
    color: var(--cust-background-color-cardsoffwhite);
}

input#viewForm:hover {
    background-color: var(--cust-color-primary);
    border: 3px solid var(--cust-color-primary);
    transition: background-color 1s, border 1s;
}

input#viewForm:active {
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;
}

input#viewList:hover {
    background-color: var(--cust-color-primary);
    border: 3px solid var(--cust-color-primary);
    transition: background-color 1s, border 1s;
}

input#viewList[type="submit"]:active {
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;
}

/* ADD MEMBER FORM STYLING */

#gymMemberAdd {
    width: 50%;
    margin: 25px auto;
    justify-content: center;
    align-items: center;    
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: var(--cust-background-color-cardsoffwhite);
  
    
}
#gMemberForm {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid var(--cust-color);
   
    
}

#gMemberForm>label {
    width:100%;
    margin-top: 5px;
    font-size: 18px;
    
}
#gMemberForm>input {
    width:100%;
    height: 25px;
    font-size: var(--cust-font-size);
}

#gMemberForm>input[type="submit"] {
    border-radius: 5px;
    height: 40px;
    margin: 20px auto;
    cursor: pointer;
    background-color: var(--cust-color-secondary);
    border: 3px solid var(--cust-color-secondary);
    color: var(--cust-background-color-cardsoffwhite);
}


#gMemberForm>input[type="submit"]:hover {
    background-color: var(--cust-color-primary);
    border: 3px solid var(--cust-color-primary);
    transition: background-color 1s, border 1s;
}

#gMemberForm>input[type="submit"]:active {
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;
}
/*  MEMBER LIST STYLING member list, filters*/

div.gymMember-list--gMembers {
    overflow-y: scroll;
    max-height: 600px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
}
div#gymMemberList{
    border: 3px solid black;
    margin-bottom: 10px;
    background-color: var(--cust-background-color-cardsoffwhite);
   
    
}
.gymMember-list--filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.gymMember-list--filters>label {
    padding: 10px;
    font-size: var(--cust-font-size);
}

.gymMember-list--filters>input {
    padding: 3px;
    font-size: var(--cust-font-size);
}

#filterSort {
    padding: 3px;
    font-size: var(--cust-font-size);
}


#label-wrapper {
    width: auto;
    display: flex;
}

/* member photos, cards, innerhtml related*/
.member-photo>img{
    height:250px;
    width: 250px;
    margin-right: 10px;
    opacity: .50;

}

.member-photo {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.member-id, .member-username, .member-firstName,
.member-lastName, .member-age, .member-enrollmentDate {
    font-size: var(--cust-font-size);
    padding: 30px;
    z-index: 2;
}

.gmember{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;

    align-items: center;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}



.label>h4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    width: 100px;
    font-size: var(--cust-font-size);
    margin-top: 10px;
}

div#member-information{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;  
    margin: 0px -660px;
    margin-top: 120px;
    
    
}
#member-information {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-right: 10px;
    height: auto;
    max-width: auto;
    margin: 0 auto;
   
}

.member-information>:nth-child(6) {
    padding: 23px;
}

.deleteButton{
    background-color: var(--cust-color-secondary);
    color: var(--cust-background-color-cardsoffwhite);
    height: 30px;
    width: 100px;
    cursor: pointer;
    border: var(--cust-color-secondary);
    border-radius: 5px;
}

.deleteButton:hover {
    background-color: var(--cust-color-primary);
    border: 3px solid var(--cust-color-primary);
    transition: background-color 1s, border 1s;
}

.deleteButton:active {
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;
}

